html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
   in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
}

body {
  background-color: #069A78;
/* Use a system font, if none are available use an available sans-sarif   font */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
  color: black;
  /* font-weight: bold; */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

main {
  background-color: white;
  text-align: center;
  width: 250px;
  height: 385px;
}

#status {
  /* text-align: right;
  margin: 5px; */
  display: flex;
  justify-content: flex-end;
  padding: 8px 8px 0 0;
}

img {
  border: 2px solid green;
  border-radius: 50%;
  height: 125px; /* accounts for img not loading */

  /* you can also throw the img inside of a div and turn the container into flex and justify-content */
}

h1 {
  font-size: 20px;
}

#occupation {
  background-color: lightgrey;
  font-size: 12px;
}

#brand {
  display: none;
}

#offer,
#occupation {
  padding: 4px 0;
}

#contact {
  background-color: lightgreen;
  display: flex;
}

#contact > p {
  height: 50px;
  width: 50%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#contact > p:first-child {
  background-color: lime;
}
#contact > p:last-of-type {
  background-color: green;
}

@media only screen and (min-width: 768px) {
  main {
    width: 400px;
    height: 200px;
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  #status {
    text-align: left;
  }

  img {
    grid-column: 1 / 2;
    margin-left: 20px;
    margin-bottom: 10px;
    height: 100px;
  }

  h1 {
    text-align: left;
    background-color: lightgray;
    grid-column: 2 / 2;
    grid-row: 1;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    padding: 10px;
  }

  #occupation {
    height: 50px;
    background-color: lightgrey;
    grid-column: 2/2;
    grid-row: 2;
  }

  #brand {
    display: flex;
    flex-direction: column-reverse;
    grid-column: 2/2;
    grid-row: 2;
    
  }

  #offer {
    grid-column: 2/2;
    background-color: lightgrey;
  }

  #contact {
    grid-column: 1/2;
    grid-row: 3;
  }

}